@layer ui.components {
  .ui-popover {
    position: absolute;
    z-index: var(--z-index-popover, 10000);
    min-width: 9.375vw;
    background: var(--overlay-bg);
    box-shadow: var(--shadows-3);
    isolation: isolate;
  }

  .ui-popover .ui-card__panel .ui-card__content {
    padding: 1vw;
  }

  .ui-popover:not([data-open]) {
    display: none;
  }
}
